*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman';
  }
  
  .main{
    position: relative;
    width: 100%;
    background-image: url(https://th.bing.com/th/id/R.92489cfd927738439967e9c9b62c0b74?rik=%2bqkjXKNnzWvZng&riu=http%3a%2f%2fwww.baltana.com%2ffiles%2fwallpapers-20%2f4K-Snowflake-Widescreen-Wallpaper-47775.jpg&ehk=N4k9VAiq4%2f%2fws2DYmOzTvdF0Y%2f3OqFmBy3S6UcznHN4%3d&risl=&pid=ImgRaw&r=0);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  
  .navbar{
    float: right;
    display: flex;
    margin: 15px 19px;
    align-items: center;
    font-weight:bold;
    padding: 15px 0;
  
  }
  
  .navbar ul li{
    text-decoration: none;
    margin: 0 15px;
    display: inline-block;
  
  }
  
  .navbar ul li a{
    text-decoration: none;
    font-size: 15px;
    color: aqua;
  }
  
  .columns{
    width: 100%;
    position: absolute;
    top: 30%;
  }
  
  .left-col{
    margin-left: 3%;
  }
  
  .left-col h1{
    color: rgb(41, 117, 184);
    font-size: 25px;
    font-weight:bold;
    float: left;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .right-col{
    float: right; 
    display: flex;
    align-items: center;
    font-weight:bold;
    margin-right: 12%;
    margin-top: 80px;
  }
  .right-col{
    font-size: 18px;
    color: darkslateblue;
    font-weight:bold;
    margin-right: 70px;
  
  }
  
  #icon{
    width: 80px;
    cursor: pointer;
  }