*{
  margin: 0;
  padding: 0;
  font-family:'Times New Roman';
}

body{
  position: relative;
  width: 100%;
  background-image: url(https://th.bing.com/th/id/R.92489cfd927738439967e9c9b62c0b74?rik=%2bqkjXKNnzWvZng&riu=http%3a%2f%2fwww.baltana.com%2ffiles%2fwallpapers-20%2f4K-Snowflake-Widescreen-Wallpaper-47775.jpg&ehk=N4k9VAiq4%2f%2fws2DYmOzTvdF0Y%2f3OqFmBy3S6UcznHN4%3d&risl=&pid=ImgRaw&r=0);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.navbar{
  float: right;
  display: flex;
  margin: 15px 19px;
  align-items: center;
  font-weight:bold;
  padding: 15px 0;

}

.navbar ul li{
  text-decoration: none;
  margin: 0 15px;
  display: inline-block;

}

.navbar ul li a{
  text-decoration: none;
  font-size: 15px;
  color: aqua;
}

.columns{
  width: 100%;
  position: absolute;
  top: 30%;
}

.left-col{
  margin-left: 3%;
}

.left-col h1{
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight:bold;
  float: left;
  font-family: 'Courier New', Courier, monospace;
}

.right-col{
  float: right; 
  display: flex;
  align-items: center;
  font-weight:bold;
  margin-right: 12%;
  margin-top: 80px;
}
.right-col{
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight:bold;
  margin-right: 70px;

}

#icon{
  width: 80px;
  cursor: pointer;
}

.track-art {
  margin: 200px;
  height: 250px;
  width: 250px;
  background-image: URL(
     "https://source.unsplash.com/Qrspubmx6kE/640x360");
  background-size: cover;
  background-position: center;
  border-radius: 15%;
}
 
.now-playing {
  font-size: 1rem;
}
 
.track-name {
  font-size: 3rem;
}

.track-artist {
  font-size: 1.5rem;
}

.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
 
  transition: opacity .2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}
 
.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
 
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}
 
.seek_slider {
  width: 60%;
}
 
.volume_slider {
  width: 30%;
}
 
.current-time,
.total-duration {
  padding: 10px;
}
 
i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

   i.fa-play-circle,
   i.fa-pause-circle,
   i.fa-step-forward,
   i.fa-step-backward {
     cursor: pointer;
   }
