body{
    background-image: url(https://img.freepik.com/free-vector/realistic-snowfall-wallpaper-concept_23-2148387246.jpg?w=360);
    text-align: center;
}
img{
    text-align: right;
}
h1{
    text-align: center;
    font-size: 70px;
}
p{
    text-align: center;
    font-family: monospace;
    font-size: 32px;
    color:rgb(77, 40, 227)

}
