body{
    background-image: url(https://img.freepik.com/free-vector/realistic-snowfall-wallpaper-concept_23-2148387246.jpg?w=360);
    background-size: cover;
    background-position: center;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 70px;
}
p{
    text-align: center;
    font-family: monospace;
    font-size: 32px;
    color:rgb(40, 128, 30)

}
